@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}


.page {
  height: 100%;
}

.page-header {
  display: flex;
}

.page-body {
  min-height: 100%;
  margin: 0;
  margin-top: 24px;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.page-main {
  margin-bottom: 48px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  flex-grow: 1; 
}

.container {
  width: 1170px;
  margin: 0 auto;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Buttons Style Guide*/
.button-blank {
  padding: 12px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  background-color: #FCFCFC;
  border: 4px solid transparent;
  border-radius: 26px;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.button-nav-user:hover{
  background-color: rgba(252, 252, 252, 0.5);
}

.button-nav-user:focus-visible{
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.button-nav-user:active {
  background-color: #FCFCFC;
}

.pagination-show-more {
  height: 54px;
  margin: 0 auto;
  font-weight: 700;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.pagination-show-more:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
}

.pagination-show-more:focus-visible {
  background-color: #FCFCFC;
  outline: 4px solid #2D3440;
}

.button-link {
  text-decoration: none;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.button-link:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
}

.button-link:focus-visible {
  background-color: #FCFCFC;
  outline: 4px solid #2D3440;
}

.button-normal-accent {
  background-color: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button-normal-accent:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
}

.button-normal-accent:focus-visible {
  background-color: #FF2F64;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: 2px solid #2D3440;
}

.button-order-normal {
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  border-radius: 50%;
  border: none;
}

.filter-product-button {
  font-weight: 700;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.filter-product-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
}

.filter-product-button:focus-visible {
  background-color: #FCFCFC;
  outline: 4px solid #2D3440;
}
/* END Buttons Style Guide */

/* Временное обозначение слайдера */
.slider {
  width: 1170px;
  height: 554px;
  margin-bottom: 80px;
  outline: 2px dashed #FFCBD8;
  background-color: #FFCBD8;
}

.slider::before {
  content: "Slider";
  padding-left: 10px;
  font-size: 21px;
  color: #2c3e50;
}
/* END Slider*/

.socialmedia-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-logo-link {
  margin-right: 32px;
}

.site-navigation {
  width: 1170px;
  display: flex;
  align-items: center;
}

.site-navigation-list {
  margin: 0;
  padding: 0;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.site-navigation-item{
  position: relative;
}

.site-navigation-link,
.site-navigation-dropdown-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2c3e50;
}

.site-navigation-link {
  padding: 8px 16px;
}

.curent-link {
  background-color: #FF4A78;
  border-radius: 26px;
  color: #FCFCFC;
}

.site-navigation-link:hover {
  background-color: #FCFCFC;
  border-radius: 26px;
  color: #2c3e50;
}

.site-navigation-dropdown-list {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  display: none;
  min-width: 160px;
  list-style-type: none;
  position: absolute;
  background-color: #FCFCFC;
  border-radius: 4px;
  font-size: 14px;
}

.site-navigation-dropdown-item {
  margin: 8px 0;
}

.site-navigation-dropdown-link{
  display: block;
  padding: 8px 16px;
  font-size: 14px;
}

.site-navigation-dropdown-link:hover {
  background-color: #FFCBD8;
}

.site-navigation-dropdown-link:active{
  background-color: #FF7799;
}

.site-navigation-dropdown-item:first-child {
  font-weight: 700;
  padding: 8px 16px;
}

.site-navigation-dropdown-item:last-child {
  padding-bottom: 0;
}

.site-navigation-item:hover .site-navigation-dropdown-list {
  display: block;
}

.current-dropdown-link {
  background-color: #FF7799;
  color: #FCFCFC;
}

.site-navigation-link-phone {
  margin-right: 18px;
  font-weight: 700; 
  text-decoration: none;
  color: #2c3e50;
  align-self: center;
}

.wrapper-navigation-user {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navigation-user {
  width: 255px;
  font-size: 14px;
}

.navigation-user .site-navigation-item { 
  margin-right: 16px;
}

.site-navigation-search-button {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: rgba(252, 252, 252, 0.4);
  background-image: url("../icons/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
}

.site-navigation-link-login,
.site-navigation-link-basket {
  padding: 8px 16px;
  background-color: rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  color: #2D3440;
  text-decoration: none;
}

.site-navigation-search-form {
  display: none;
}

.shopping-gift-subject,
.catalog-goods-subject,
.infoblock-shop-subject{
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.home-delivery-subject {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: left;
  
}

.shopping-gift {
  margin-bottom: 80px;
}

.shopping-gift-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.shopping-gift-item {
  width: 570px;
  border-radius: 16px;
  background-color: #FF7799;
}

.shopping-gift-title {
font-weight: 700;
font-size: 24px;
line-height: 30px;
}

.shopping-gift-description {
  font-size: 16px;
  line-height: 22px;
}

.infoblock-shop {
  margin-bottom: 80px;
  border-radius: 16px;
  background-color: #FCFCFC;
}

.infoblock-shop-list {
  list-style-type: none;
}

.infoblock-shop-item {
  font-size: 16px;
  line-height: 22px;
}

.blog-publication {
  margin-bottom: 76px;
  display: flex;
  justify-content: space-between;
}

.blog-publication-post {
  width: 570px;
  background-color: #FCFCFC;
  background-image: url(../img/fruit-sherbet.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
}

.blog-publication-subtitle,
.blog-publication-description {
  color: #565C66;
}

.blog-publication-subtitle {
  width: 570px;
}

.blog-publication-title {
  width: 305px;
  font-size: 24px;
  line-height: 30px;
}

.blog-publication-link {
  text-decoration: none;
  color: #2D3440;
}

.blog-publication-subscribe {
  width: 570px;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.blog-publication-description {
  width: 506px;
  color: #565C66;
}

.home-delivery {
  display: flex;
  width: 1170px;
  margin-bottom: 80px;
  background-color: #FCFCFC;
  background-image: url(../img/delivery-ice-cream.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
}

.home-delivery-form {
  width: 500px;
  background-color: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.home-delivery-description,
.home-delivery-form-description {
  color: #565C66;
}

.home-delivery-description {
  width: 371px;
}

.contact-shop {
  width: 1170px;
  background-color: #FCFCFC;
  background-image: url(../img/ice-cream-cone.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
}

.contact-shop-block {
  width: 343px;
  background-color: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contact-shop-block-description {
  color: #565C66;
}

.contact-shop-block-location,
.contact-shop-block-phone {
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
}

.footer-paperword-link {
  font-size: 14px;
  text-decoration: none;
  color: #2D3440;
}

.footer-copyright-text,
.footer-copyright-link {
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}


/* Page Catalog */
.breadcrumbs-list {
  list-style-type: none;
  display: flex;
}

.breadcrumbs-link {
  font-weight: 700;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs-link-current {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.inner-filter-product {
  margin-bottom: 56px;
}

.filter-product-form {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 20px;
}

.catalog-goods {
  margin-bottom: 80px;
}

.inner-catalog-goods {
  margin-bottom: 16px;
}

.catalog-goods-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-goods-item {
  width: 270px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.catalog-goods-title {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.catalog-goods-img {
  border-radius: 50%;
  filter: drop-shadow(0px 4px 12px rgba(45, 52, 64, 0.1));
}

.catalog-goods-description {
  text-align: center;
}

.inner-pagination {
  display: flex;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:first-child {
  margin-right: 22px;
}

.pagination-item:last-child {
  margin-left: 15px;
  margin-right: 0px;
}

.pagination-link {
  min-width: 24px;
  height: 24px;
  padding: 2px 8px;
  text-decoration: none;
  color: #2D3440;
  border: 1px solid transparent;
  border-radius: 50px;
}

.pagination-link:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #FCFCFC;
  cursor: pointer;
}

.pagination-link:focus-visible {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #2D3440;
}

.pagination-current {
  background-color: #FCFCFC;
}

.footer-socialmedia-list {
  margin: 0;
  padding: 0;
}

.footer-socialmedia-item {
  list-style-type: none;
}

.footer-paperwork-list {
  list-style-type: none;
}
