@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1170px;
  min-height: 100%;
  margin: 0;
  margin-top: 24px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
  box-sizing: border-box;
}

.page-header {
  display: flex;
  padding-bottom: 32px;
}

.page-main {
  margin-bottom: 24px;
}

.page-footer {
  padding: 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  flex-grow: 1; 
}

.container {
  width: 1170px;
  margin: 0 auto;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Buttons Style Guide*/
.button-blank,
.button-form-submit {
  padding: 12px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  text-decoration: none;
  background-color: #FCFCFC;
  border: none;
  outline: 4px solid transparent;
  border-radius: 26px;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.button-nav-user:hover{
  background-color: rgba(252, 252, 252, 0.5);
}

.button-nav-user:focus-visible{
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.button-nav-user:active {
  background-color: #FCFCFC;
}

.button-link {
  display: inline-flex;
  box-sizing: border-box;
  text-decoration: none;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.button-link:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
}

.button-link:focus-visible {
  background-color: #FCFCFC;
  outline: 4px solid #2D3440;
}

.button-link:active {
  background-color: #FFCBD8;
}

.button-normal-accent {
  background-color: #FF2F64;
  color: #FCFCFC;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button-normal-accent:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  color: #2D3440;
}

.button-normal-accent:focus-visible {
  background-color: #FF2F64;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: 2px solid #2D3440;
}

.button-normal-accent:active {
  background-color: #FFCBD8;
}

.button-order-normal {
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  background-image: url('data:image/svg+xml,%3Csvg width="15" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M1.1667.25a.6667.6667 0 1 0 0 1.3333h1.7712l.4675 2.3354a.664.664 0 0 0 .0106.0531l.9674 4.8333.0001.0006a1.8255 1.8255 0 0 0 1.8183 1.4691h5.6207a1.8258 1.8258 0 0 0 1.8185-1.4697l.001-.005.9271-4.8614a.6669.6669 0 0 0-.6549-.7915H4.6107L4.1381.7858A.6667.6667 0 0 0 3.4844.25H1.1667ZM5.691 8.5444l-.8134-4.0639h8.2308l-.7756 4.0669a.4923.4923 0 0 1-.4918.3942v-.0001H6.1962v-.0001l-.0128.0002a.4922.4922 0 0 1-.4922-.3962l-.0002-.001Zm-1.1336 3.961c0-.6879.5577-1.2457 1.2457-1.2457.688 0 1.2457.5578 1.2457 1.2457 0 .688-.5577 1.2457-1.2457 1.2457-.688 0-1.2457-.5577-1.2457-1.2457Zm6.3733 0c0-.6879.5577-1.2457 1.2457-1.2457.688 0 1.2457.5578 1.2457 1.2457 0 .688-.5577 1.2457-1.2457 1.2457-.688 0-1.2457-.5577-1.2457-1.2457Z" fill="%23FCFCFC"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
}

.button-order-normal:hover{
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FF2F64;
  background-image: url('data:image/svg+xml,%3Csvg width="15" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M1.1667.25a.6667.6667 0 1 0 0 1.3333h1.7712l.4675 2.3354a.664.664 0 0 0 .0106.0531l.9674 4.8333.0001.0006a1.8255 1.8255 0 0 0 1.8183 1.4691h5.6207a1.8258 1.8258 0 0 0 1.8185-1.4697l.001-.005.9271-4.8614a.6669.6669 0 0 0-.6549-.7915H4.6107L4.1381.7858A.6667.6667 0 0 0 3.4844.25H1.1667ZM5.691 8.5444l-.8134-4.0639h8.2308l-.7756 4.0669a.4923.4923 0 0 1-.4918.3942v-.0001H6.1962v-.0001l-.0128.0002a.4922.4922 0 0 1-.4922-.3962l-.0002-.001Zm-1.1336 3.961c0-.6879.5577-1.2457 1.2457-1.2457.688 0 1.2457.5578 1.2457 1.2457 0 .688-.5577 1.2457-1.2457 1.2457-.688 0-1.2457-.5577-1.2457-1.2457Zm6.3733 0c0-.6879.5577-1.2457 1.2457-1.2457.688 0 1.2457.5578 1.2457 1.2457 0 .688-.5577 1.2457-1.2457 1.2457-.688 0-1.2457-.5577-1.2457-1.2457Z" fill="%232D3440"/%3E%3C/svg%3E');
}

.button-order-normal:focus-visible {
  background-color: #FF2F64;
  border: 2px solid #2D3440;
}

.button-order-normal:active{
  background-color: #FFE5EC;
}

.button-form-submit {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 12px;
}

.filter-product-button {
  min-height: 36px;
  margin: 0;
  padding: 8px 53px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border: none;
  border-radius: 26px;
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FCFCFC;
  align-self: flex-end;
}

.filter-product-button:hover {
  background-color: #FCFCFC;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.filter-product-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2D3440;
}

.pagination-show-more {
  min-height: 44px;
  margin-left: auto;
  font-weight: 700;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.pagination-show-more:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
}

.pagination-show-more:focus-visible {
  background-color: #FCFCFC;
  outline: 4px solid #2D3440;
}

.pagination-show-more:active{
  background-color:#FFCBD8;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="date"] {
  height: 48px;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 20px;
color: #2d3440;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  outline: none;
  cursor: pointer;
}

input[type="text"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="date"]:hover {
  border: 1px solid #2d3440;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="date"]::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
  outline: 2px solid #2d3440;
  outline-offset: -2px;
}

input[type="text"]:disabled,
input[type="tel"]:disabled,
input[type="email"]:disabled,
input[type="psssword"]:disabled,
input[type="date"]:disabled {
  background: #e7e7e7;
  border: 1px solid #b9b9b9;
}
/* END Buttons Style Guide */

/* Modals & Popup */

.popover {
  padding: 48px;
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: inherit;
  color: #242424;
  background-color: #FCFCFC;
  z-index: 5;
}

.popover-basket-empty-text,
.popover-basket-subject,
.popover-login-subject {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  text-align: center;
}

.popover-basket-empty {
  width: 288px;
  min-height: 156px;
}

.popover-basket-subject {
  text-align: left;
  margin-bottom: 32px;
}

.popover-basket {
  width: 440px;
}

.popover-basket-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-bottom: 32px;
  border-bottom: 1px solid #E7E7E7;
}

.popover-basket-item {
  display: flex;
  align-items: center;
  max-height: 46px;
  margin-bottom: 24px;
}

.popover-basket-item:last-of-type{
  margin-bottom: 0;
}

.popover-basket-goods-title {
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  font-size: 18px;
}

.popover-basket-goods-img {
  padding-right: 16px;
}

.popover-basket-description-wrapper {
  min-width: 120px;
}

.popover-basket-goods-description {
  margin: 0;
  padding: 0;
  color: #B9B9B9;
}

.popover-basket-goods-cost {
  margin: 0 auto;
  font-size: 18px;
}
.popover-basket-goods-price {
  padding-right: 52px;
  font-size: 18px;
}

.popover-basket-remove-item {
  width: 16px;
  height: 16px;
  position: relative;
  background-color: transparent;
  border: none;
  align-self: center;
}

.popover-basket-remove-item::before,
.popover-basket-remove-item::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  border-radius: 20px;
  background-color: black;
  top: 5px;
  left: 2px;
}

.popover-basket-remove-item::before,
.modal-feedback-button-close::before {
  transform: rotate(45deg);
}
.popover-basket-remove-item::after,
.modal-feedback-button-close::after {
  transform: rotate(-45deg);
}

.popover-basket-order-wrapper {
  display: flex;
  margin-top: 32px;
  justify-content: space-between;
  align-items: center;
}

.popover-basket-totaly-cost,
.basket-totaly-price {
  font-size: 18px;
}

.popover-login {
  width: 420px;
}

.popover-content {
  height: 100%;
}

.popover-login-subject{
  text-align: left;
  margin-bottom: 32px;
}

.popover-login-field-group {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.popover-login-field-group:last-of-type {
  margin-bottom: 32px;
}

.popover-login-input {
  width: 324px;
  padding: 14px 16px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #B9B9B9;
}

.popover-login-submit-wrapper {
  display: flex;
  align-items: center;
}

.popover-login-submit-column {
  margin-left: 23px;
}

.popover-login-forgot,
.popover-login-registration {
  color: #2D3440;
}

.popover-login-forgot:visited,
.popover-login-registration:visited {
  color: #2D3440;
}

.popover-search {
  padding: 24px 16px;
  width: 356px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  display: none;
}

.modal-content {
  width: 570px;
  margin: auto;
  padding: 64px;
  background-color: #fcfcfc;
  border-radius: 8px;
  position: relative;
  top: 25px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.modal-feedback-button-close {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 32px;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.modal-feedback-button-close::before,
.modal-feedback-button-close::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  border-radius: 20px;
  background-color: black;
  top: 12px;
  right: 4px;
}

.modal-feedback-subject {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.modal-feedback-form {
  box-sizing: border-box;
}

.modal-feedback-field-group {
  margin: 0;
  padding-bottom: 16px;
}

.modal-feedback-field-group:last-of-type {
  padding-bottom: 32px;
}

.modal-feedback-input {
  width: 100%;
}

.modal-feedback-textarea {
  width: 100%;
  resize: none;
  padding: 14px;
  border-radius: 4px;
  border: 1px solid #B9B9B9;
  box-sizing: border-box;
}

.modal-feedback-form .button-normal-accent {
  margin-left: auto;
  display: block;
}

/* END Modal & Popover */

.site-navigation-search-field {
  width: 324px;
  padding: 14px 16px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #B9B9B9;
}

.popover-open {
  display: block;
}

/* END Modals & Popup */

.slider-goods {
  margin-bottom: 80px;
}

.slider-goods-wrapper {
  display: flex;
}

.slider-goods-column-text {
  width: 470px;
  padding-left: 70px;
  padding-top: 136px;
}

.slider-goods-subject{
  width: 470px;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: left;
}

.slider-goods-description {
  max-width: 415px;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
}

.slider-goods-column-img {
  width: 635px;
  position: relative;
}

.slider-goods-photo-list,
.slider-goods-pagination-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.slider-goods-photo-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-goods-photo-item {
  position: relative;
}

.slider-goods-photo-item::before{
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  z-index: -2;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.slider-goods-photo-list .slider-img-active::before {
  content: "";
  position: absolute;
  top: 100px;
  z-index: -2;
  width: 312px;
  height: 312px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.slider-goods-img {
  padding-left: 15px;
}

.slider-goods-control-wrapper {
  position: absolute;
  top: 50%;
  left: -20px;
  width: 100%;
  transform: translateY(-20px);
  z-index: 2;
}

.slider-goods-button {
  position: absolute;
  height: 38px;
  width: 38px;
  padding: 0;
  border: 2px solid #FCFCFC;
  box-sizing: border-box;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
  cursor: pointer;
}

.slider-goods-button:hover {
  background-color: #fcfcfc;
}

.slider-goods-button:hover .slider-icon-control {
  fill: #2d3440;
}

.slider-goods-button:focus-visible {
  outline: none;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
}

.slider-goods-button:focus-visible .slider-icon-control {
  fill: #2d3440;
}

.slider-goods-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  cursor: default;
}

.slider-goods-button:disabled:hover .slider-icon-control {
  fill: #fcfcfc;
  opacity: 0.7;
}

.slider-goods-button:active {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
}

.slider-button-next {
  left: 50%;
}

.slider-goods-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-goods-pagination-list {
  display: flex;
  flex-wrap: wrap ;
}

.slider-goods-pagination-item {
  margin-right: 8px;
}

.slider-goods-pagination-link {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
}

.slider-current-link {
  background-color: #FCFCFC;
}

.slider-goods-pagination-link:hover{
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #FCFCFC;
}

.slider-goods-pagination-link:focus-visible {
  outline: 1px solid #2D3440;
}

.close-slider-goods {
  display: none;
}

.socialmedia-list {
  max-width: 116px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.socialmedia-item,
.footer-socialmedia-item {
  margin-right: 16px;
  margin-bottom: 10px;
  list-style-type: none;
}

.socialmedia-item {
  margin-bottom: 0;
}

.socialmedia-item:nth-child(3n),
.footer-socialmedia-item:nth-child(3n) {
  margin-right: 0;
}

.header-logo-link {
  margin-right: 32px;
}

.site-navigation {
  width: 1170px;
  display: flex;
  align-items: center;
}

.site-navigation-list {
  margin: 0;
  padding: 0;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.site-navigation-item{
  position: relative;
}

.site-navigation-link,
.site-navigation-dropdown-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2c3e50;
}

.site-navigation-link {
  padding: 8px 16px;
}

.curent-link {
  background-color: #FF4A78;
  border-radius: 26px;
  color: #FCFCFC;
}

.site-navigation-link:hover {
  background-color: #FCFCFC;
  border-radius: 26px;
  color: #2c3e50;
}

.site-navigation-dropdown-list {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  display: none;
  min-width: 160px;
  list-style-type: none;
  position: absolute;
  background-color: #FCFCFC;
  border-radius: 4px;
  font-size: 14px;
  z-index: 2;
}

.site-navigation-dropdown-item {
  margin: 8px 0;
}

.site-navigation-dropdown-link{
  display: block;
  padding: 8px 16px;
  font-size: 14px;
}

.site-navigation-dropdown-link:hover {
  background-color: #FFCBD8;
}

.site-navigation-dropdown-link:active{
  background-color: #FF7799;
}

.site-navigation-dropdown-item:first-child {
  font-weight: 700;
  padding: 8px 16px;
}

.site-navigation-dropdown-item:nth-child(1)::after {
  content: "";
  position: absolute;
  left: 16px;
  top: 45px;
  width: 130px;
  border-bottom: 1px solid #b9b9b9;
  }

.site-navigation-dropdown-item:last-child {
  padding-bottom: 0;
}

.site-navigation-item:hover .site-navigation-dropdown-list {
  display: block;
}

.current-dropdown-link {
  background-color: #FF7799;
  color: #FCFCFC;
}

.site-navigation-link-phone {
  font-weight: 700; 
  text-decoration: none;
  color: #2c3e50;
  align-self: center;
}

.navigation-user {
  margin-left: auto;
  min-width: 420px;
  font-size: 14px;
  justify-content: flex-end;
}

.navigation-user .site-navigation-item { 
  margin-right: 16px;
}

.navigation-user .site-navigation-item:last-child {
  margin-right: 0;
}

.site-navigation-search-button {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: rgba(252, 252, 252, 0.4);
  background-image: url("../icons/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
}

.site-navigation-link-login,
.site-navigation-link-basket {
  height: 32px;
  padding: 6px 16px;
  display: inline-flex;
  background-color: rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  color: #2D3440;
  text-decoration: none;
  box-sizing: border-box;
}

.site-navigation-link-login {
  background-image: url("../icons/icon-login.svg");
  background-repeat: no-repeat;
  background-position: left 10px center;
  padding-left: 32px;
}

.site-navigation-link-basket {
  background-image: url("../icons/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: left 10px center;
  padding-left: 32px;
}

.shopping-gift-subject,
.catalog-goods-subject {
  margin: 0 auto;
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.shopping-gift-subject {
  width: 445px;
}

.catalog-goods-subject{
  margin-bottom: 107px;
  width: 527px;
}

.shopping-gift {
  margin-bottom: 80px;
}

.shopping-gift-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
  list-style-type: none;
}

.shopping-gift-item {
  width: 570px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #FF7799;
}

.shopping-gift-title {
  margin: 0;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.shopping-gift-description {
  margin: 0;
  max-width: 325px;
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 22px;
}

.shop-raspberry-gift{
  background-image: url("../img/raspberry-waffle-cone.png");
  background-repeat: no-repeat;
  background-position: right 15px top 28px;
}

.shop-raspberry-gift .shopping-gift-description {
  width: 322px;
}

.shop-marshmallow-gift{
  background-image: url("../img/marshmallow-waffle-cone.png");
  background-repeat: no-repeat;
  background-position: right 25px;
}

.shop-marshmallow-gift .shopping-gift-description {
  width: 295px;
}

.infoblock-shop {
  margin-bottom: 80px;
  border-radius: 16px;
  padding: 24px;
  background-color: #FCFCFC;
  background-image: url("../img/waffle-bg.jpg");
}

.infoblock-shop-wrapper {
  padding: 56px 40px;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.infoblock-shop-subject {
  margin: 0;
  padding-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.infoblock-shop-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
}

.infoblock-shop-item {
  width: 442px;
  margin-left: 64px;
  margin-bottom: 40px;
  padding-right: 30px;
  font-size: 16px;
  line-height: 22px;
  position: relative;
}

.infoblock-shop-item:last-child,
.infoblock-shop-item:nth-last-child(2) {
  margin-bottom: 0;
}

.infoblock-shop-item:nth-child(even) {
  padding-right: 0;
}

.infoblock-shop-description {
  margin: 0;
  padding: 0;
}

.infoblock-shop-description::before{
  position: absolute;
  top: 0;
  left: -64px;
}

.infoblock-shop-item .infoblock-making-factory::before{
  content: url("../icons/icon-ice-cream.svg");
}

.infoblock-shop-item .infoblock-making-quality::before{
  content: url("../icons/icon-leaf.svg");
}

.infoblock-shop-item .infoblock-making-milk::before{
  content: url("../icons/icon-cow.svg");
}

.infoblock-shop-item .infoblock-making-shipping::before{
  content: url("../icons/icon-degrees.svg");
}

.blog-publication {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
}

.blog-publication-post {
  width: 570px;
  padding: 32px;
  background-color: #FCFCFC;
  background-image: url(../img/fruit-sherbet.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  box-sizing: border-box;
}

.blog-publication-subtitle,
.blog-publication-description {
  color: #565C66;
}

.blog-publication-subtitle {
  width: 570px;
  padding-bottom: 12px;
  display: block;
}

.blog-publication-title {
  margin: 0;
  width: 305px;
  font-size: 24px;
  line-height: 30px;
}

.blog-publication-link {
  text-decoration: none;
  color: #2D3440;
}

.blog-publication-subscribe {
  width: 558px;
  padding: 24px;
  background-color: #FCFCFC;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  
}

.blog-publication-subscribe-wrapper {
  border-radius: 16px;
  background-image: url("../img/blog-subscribe-bg.png");
  background-repeat: no-repeat;
  padding: 6px;
}

.blog-publication-description {
  width: 506px;
  margin:0;
  padding-bottom: 42px;
  color: #565C66;
}

.blog-publication-field {
  width: 315px;
  margin-right: 20px;
}

.home-delivery {
  display: flex;
  margin-bottom: 80px;
  padding-left: 100px;
  background-color: #FCFCFC;
  background-image: url(../img/delivery-ice-cream.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  justify-content: space-between;
}

.home-delivery-column-info {
  margin: auto 0;
}

.home-delivery-column-form {
  padding: 64px;
  padding-left: 0;
}

.home-delivery-form-wrapper {
  width: 500px;
  padding: 40px;
  background-color: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  box-sizing: border-box;
}

.home-delivery-subject {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: left;
}

.home-delivery-description {
  width: 371px;
  margin: 0;
}

.home-delivery-description,
.home-delivery-form-description {
  color: #565C66;
}

.home-delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px;
}

.field-group-form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.form-input-plant {
  box-sizing: border-box;
  padding: 14px 16px;
  font-family: inherit;
  line-height: 20px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #B9B9B9;
}

.home-delivery-form-description {
  width: 380px;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.home-delivery-form-address {
  grid-column: 1 / -1;
}

.form-delivery-label {
  padding-bottom: 8px;
  font-weight: 700;
  position: relative;
}

.button-info-form {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: 4px;
  margin-left: 4px;
  padding: 0;
  background-color: transparent;
  border: none;
  background-image: url("../icons/icon-info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contact-shop {
  width: 1170px;
  padding: 64px;
  background-color: #FCFCFC;
  background-image: url(../img/ice-cream-cone.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  box-sizing: border-box;
}

.contact-shop-block {
  width: 343px;
  padding: 40px;
  background-color: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  box-sizing: border-box;
}

.contact-shop-block-location,
.contact-shop-block-phone {
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
}

.contact-shop-block-description {
  margin: 0;
  padding-bottom: 12px;
  color: #565C66;
}

.contact-shop-block-location {
  padding-bottom: 24px;
}

.contact-shop-block-officetime {
  display: block;
  padding-bottom: 24px;
  font-size: 14px;
}

.footer-paperwork {
  margin-right: 200px;
}

.footer-paperwork-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 8px 24px;
  list-style-type: none;
}

.footer-paperwork-item {
  position: relative;
}

.footer-paperwork-link {
  font-size: 14px;
  text-decoration: none;
  color: #2D3440;
}

.footer-paperwork-item:nth-child(1)::before {
  content: "";
  display: block;
  background-image: url("../icons/icon-heart.svg");
  background-repeat: no-repeat;
  top: 4px;
  left: -23px;
  position: absolute;
  width: 16px;
  height: 16px;
}

.footer-copyright-text,
.footer-copyright-link {
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}


/* Page Catalog */

.breadcrumbs-list {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  margin-right: 28px;
  position: relative;
}

.breadcrumbs-item:not(:last-of-type)::after {
  content: "";
  background-image: url("../icons/icon-double-arrow.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 7px;
  height: 6px;
  right: -18px;
  top: 10px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  font-weight: 700;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs-link-current {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.inner-header-subject {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.inner-filter-product {
  margin-bottom: 98px;
}

.filter-product-form {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 20px;
}

.filter-row-wrapper {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.inner-filter-box {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
}

.inner-filter-product-sorting,
.inner-filter-product-price, 
.inner-filter-product-fatness,
.inner-filter-product-filling {
  margin: 0;
  margin-right: 24px;
  padding: 0;
  border: none;
  display: flex;
  flex-wrap: wrap;
}

.inner-filter-label {
  padding-right: 16px;
  position: relative;
  display: block;
  cursor: pointer;
}

.inner-filter-label:last-child {
  padding-right: 0;
}

.filter-product-popular {
  min-width: 196px;
  padding: 10px 16px;
  padding-right: 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
  border: none;
  font-size: 14px;
  line-height: 20px;
  background-image: url("../icons/icon-caron-down.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  appearance: none;
}

.filter-product-popular:hover {
  background-color: rgba(252, 252, 252, 0.4);
}

.filter-product-popular:focus-visible {
  outline: 2px solid #FCFCFC;
}

.inner-filter-name {
  margin-bottom: 8px;
  margin-left: 16px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #242424;
  border-radius: 4px;
  box-sizing: border-box;
}

.control-label {
  padding-left: 25px;
}

.control-input[type="checkbox"]:hover + .control-mark {
  border: 1px solid #FCFCFC;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("./icons/checkbox-checked-hover.svg");
  border: none;
}


.control-input[type="checkbox"]:checked:hover + .control-mark {
  background-image: url("../icons/checkbox-checked-hover.svg");
  border: none;
}

.control:hover .control-mark {
  background-image: url("../icons/checkbox-checked-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #FCFCFC;
}

.control-input:disabled + .control-mark {
  border-color: rgba(252, 252, 252, 0.4);
}

.control-input:focus-visible + .control-mark {
  border-color: rgba(252, 252, 252, 0.4);
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../icons/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.control-input[type="checkbox"]:checked:hover + .control-mark {
  background-image: url("../icons/checkbox-checked-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.control-input[type="checkbox"]:checked:focus-visible + .control-mark {
  background-image: url("../icons/checkbox-checked-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
} 

.control-input[type="checkbox"]:checked:disabled + .control-mark {
  background-image: url("../icons/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0.5;
}

.control-input[type="radio"] + .control-mark {
  top: 2px;
  border-width: 1.5px;
  border-color: #2d3440;
  border-radius: 50%;
  box-sizing: border-box;
}

.control-input[type="radio"]:hover + .control-mark {
  border-color: #fcfcfc;
}

.control-input[type="radio"]:focus-visible + .control-mark {
  border-color: #fcfcfc;
}

.control-input[type="radio"]:disabled + .control-mark {
  border-color: #2d3440;
  opacity: 0.7;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  background-color: #2d3440;
  border-radius: 50%;
}

.control-input[type="radio"]:checked:hover + .control-mark::before {
  background-color: #fcfcfc;
}

.control-input[type="radio"]:checked:disabled + .control-mark::before {
  border-color: #2d3440;
  opacity: 0.7;
}

.control-input[type="radio"]:checked:disabled:hover + .control-mark::before {
  background-color: #2d3440;
}

.range-scale-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  margin: 0;
  padding: 0 16px;
  border-radius: 20px;
  background-color: #ffcbd8;
  list-style: none;
  overflow: auto;
}

.range-scale {
  position: relative;
  width: 164px;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 6px;
}

.range-bar {
  position: absolute;
  height: 2px;
  margin: 0 auto;
  background-color: #373c41;
}

.range-toggle {
  position: absolute;
  padding: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fcfcfc;
  border: 6px solid #2d3440;
  box-sizing: border-box;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #2d3440;
  border: 6px solid #fcfcfc;
}

.range-toggle:focus-visible {
  background-color: #2d3440;
  border: 6px solid #fcfcfc;
  outline: 2px solid #2d3440;
}

.range-toggle:active {
  background-color: #2d3440;
  border: none;
  outline-offset: -1px;
}

.range-toggle-min {
  left: 0;
  top: -7px;
}

.range-toggle-max {
  right: 0;
  top: -7px;
}

.range-price-input {
  width: 28px;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.catalog-goods {
  margin-bottom: 80px;
}

.catalog-goods-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;
  list-style-type: none;
}

.catalog-goods-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 270px;
  padding: 0 40px 24px 40px;
  padding-top: 0;
  background-color: #FCFCFC;
  border-radius: 8px;
  box-sizing: border-box;
}

.catalog-goods-title {
  margin: 0;
  padding-bottom: 8px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.catalog-goods-img {
  margin-top: -50px;
  margin-bottom: 16px;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 12px rgba(45, 52, 64, 0.1));
  order: -1;
  align-self: center;
}

.catalog-goods-description {
  margin: 0;
  padding-bottom: 16px;
  width: 195px;
  text-align: center;
}

.catalog-goods-cost {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.catalog-goods-price {
  max-width: 153px;
}

.inner-pagination {
  padding: 40px 0;
  padding-bottom: 80px;
  display: flex;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}


.pagination-list {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.pagination-item {
  margin-right: 2px;
}

.pagination-item:first-child {
  margin-right: 22px;
}

.pagination-item:last-child {
  margin-left: 16px;
  margin-right: 0px;
}

.pagination-link {
  padding: 2px 8px;
  text-decoration: none;
  line-height: 20px;
  color: #2D3440;
  border: 1px solid transparent;
  border-radius: 50px;
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
}

.pagination-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440; 
}

.pagination-link:active {
  outline: 1px solid #2D3440;
}

.pagination-current {
  background-color: #FCFCFC;
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: transparent;
}

.footer-socialmedia {
  margin-right: auto;
}

.footer-socialmedia-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 116px;
  margin: 0;
  margin-left: 4px;
  padding: 0;
  list-style-type: none;
}

.socialmedia-link,
.footer-socialmedia-link {
  display: inline-flex;
  outline: 2px solid rgba(252, 252, 252, 0.2);
  border-radius: 50%;
}

.socialmedia-link:hover,
.footer-socialmedia-link:hover {
  background-color: #2D3440;
  border-radius: 50%;
}

.socialmedia-link:focus-visible,
.footer-socialmedia-link:focus-visible {
  outline: 2px solid #2D3440;
  background-color: #2D3440;
}

.socialmedia-link:active,
.footer-socialmedia-link:active {
  outline: 2px solid #2D3440;
}
