@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1170px;
  min-height: 100%;
  margin: 0;
  margin-top: 24px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
  box-sizing: border-box;
}

.page-header {
  display: flex;
  padding-bottom: 32px;
}

.page-main {
  margin-bottom: 24px;
}

.page-footer {
  padding: 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  flex-grow: 1; 
}

.container {
  width: 1170px;
  margin: 0 auto;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Buttons Style Guide*/
.button-blank,
.button-form-submit {
  padding: 12px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  background-color: #FCFCFC;
  border: 4px solid transparent;
  border-radius: 26px;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.button-nav-user:hover{
  background-color: rgba(252, 252, 252, 0.5);
}

.button-nav-user:focus-visible{
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.button-nav-user:active {
  background-color: #FCFCFC;
}

.button-link {
  display: inline-flex;
  box-sizing: border-box;
  text-decoration: none;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.button-link:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
}

.button-link:focus-visible {
  background-color: #FCFCFC;
  outline: 4px solid #2D3440;
}

.button-link:active {
  background-color: #FFCBD8;
}

.button-normal-accent {
  background-color: #FF2F64;
  color: #FCFCFC;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button-normal-accent:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  color: #2D3440;
}

.button-normal-accent:focus-visible {
  background-color: #FF2F64;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: 2px solid #2D3440;
}

.button-normal-accent:active {
  background-color: #FFCBD8;
}

.button-order-normal {
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  background-image: url('data:image/svg+xml,%3Csvg width="15" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M1.1667.25a.6667.6667 0 1 0 0 1.3333h1.7712l.4675 2.3354a.664.664 0 0 0 .0106.0531l.9674 4.8333.0001.0006a1.8255 1.8255 0 0 0 1.8183 1.4691h5.6207a1.8258 1.8258 0 0 0 1.8185-1.4697l.001-.005.9271-4.8614a.6669.6669 0 0 0-.6549-.7915H4.6107L4.1381.7858A.6667.6667 0 0 0 3.4844.25H1.1667ZM5.691 8.5444l-.8134-4.0639h8.2308l-.7756 4.0669a.4923.4923 0 0 1-.4918.3942v-.0001H6.1962v-.0001l-.0128.0002a.4922.4922 0 0 1-.4922-.3962l-.0002-.001Zm-1.1336 3.961c0-.6879.5577-1.2457 1.2457-1.2457.688 0 1.2457.5578 1.2457 1.2457 0 .688-.5577 1.2457-1.2457 1.2457-.688 0-1.2457-.5577-1.2457-1.2457Zm6.3733 0c0-.6879.5577-1.2457 1.2457-1.2457.688 0 1.2457.5578 1.2457 1.2457 0 .688-.5577 1.2457-1.2457 1.2457-.688 0-1.2457-.5577-1.2457-1.2457Z" fill="%23FCFCFC"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
}

.button-order-normal:hover{
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FF2F64;
  background-image: url('data:image/svg+xml,%3Csvg width="15" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M1.1667.25a.6667.6667 0 1 0 0 1.3333h1.7712l.4675 2.3354a.664.664 0 0 0 .0106.0531l.9674 4.8333.0001.0006a1.8255 1.8255 0 0 0 1.8183 1.4691h5.6207a1.8258 1.8258 0 0 0 1.8185-1.4697l.001-.005.9271-4.8614a.6669.6669 0 0 0-.6549-.7915H4.6107L4.1381.7858A.6667.6667 0 0 0 3.4844.25H1.1667ZM5.691 8.5444l-.8134-4.0639h8.2308l-.7756 4.0669a.4923.4923 0 0 1-.4918.3942v-.0001H6.1962v-.0001l-.0128.0002a.4922.4922 0 0 1-.4922-.3962l-.0002-.001Zm-1.1336 3.961c0-.6879.5577-1.2457 1.2457-1.2457.688 0 1.2457.5578 1.2457 1.2457 0 .688-.5577 1.2457-1.2457 1.2457-.688 0-1.2457-.5577-1.2457-1.2457Zm6.3733 0c0-.6879.5577-1.2457 1.2457-1.2457.688 0 1.2457.5578 1.2457 1.2457 0 .688-.5577 1.2457-1.2457 1.2457-.688 0-1.2457-.5577-1.2457-1.2457Z" fill="%232D3440"/%3E%3C/svg%3E');
}

.button-order-normal:focus-visible {
  background-color: #FF2F64;
  border: 2px solid #2D3440;
}

.button-order-normal:active{
  background-color: #FFE5EC;
}

.button-form-submit {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 12px;
}

.filter-product-button {
  min-height: 36px;
  margin: 0;
  padding: 8px 53px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border: none;
  border-radius: 26px;
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FCFCFC;
  align-self: flex-end;
}

.filter-product-button:hover {
  background-color: #FCFCFC;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.filter-product-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2D3440;
}

.pagination-show-more {
  min-height: 54px;
  margin-left: auto;
  font-weight: 700;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.pagination-show-more:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
}

.pagination-show-more:focus-visible {
  background-color: #FCFCFC;
  outline: 4px solid #2D3440;
}

.pagination-show-more:active{
  background-color:#FFCBD8;
}
/* END Buttons Style Guide */

/* Временное обозначение слайдера */
.slider {
  width: 1170px;
  height: 554px;
  margin-bottom: 80px;
  background-color: #FFCBD8;
}

/* END Slider*/

.socialmedia-list {
  max-width: 116px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.socialmedia-item,
.footer-socialmedia-item {
  margin-right: 16px;
  margin-bottom: 10px;
  list-style-type: none;
}

.socialmedia-item:nth-child(3n),
.footer-socialmedia-item:nth-child(3n) {
  margin-right: 0;
}

.header-logo-link {
  margin-right: 32px;
}

.site-navigation {
  width: 1170px;
  display: flex;
  align-items: center;
}

.site-navigation-list {
  margin: 0;
  padding: 0;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.site-navigation-item{
  position: relative;
}

.site-navigation-link,
.site-navigation-dropdown-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2c3e50;
}

.site-navigation-link {
  padding: 8px 16px;
}

.curent-link {
  background-color: #FF4A78;
  border-radius: 26px;
  color: #FCFCFC;
}

.site-navigation-link:hover {
  background-color: #FCFCFC;
  border-radius: 26px;
  color: #2c3e50;
}

.site-navigation-dropdown-list {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  display: none;
  min-width: 160px;
  list-style-type: none;
  position: absolute;
  background-color: #FCFCFC;
  border-radius: 4px;
  font-size: 14px;
  z-index: 2;
}

.site-navigation-dropdown-item {
  margin: 8px 0;
}

.site-navigation-dropdown-link{
  display: block;
  padding: 8px 16px;
  font-size: 14px;
}

.site-navigation-dropdown-link:hover {
  background-color: #FFCBD8;
}

.site-navigation-dropdown-link:active{
  background-color: #FF7799;
}

.site-navigation-dropdown-item:first-child {
  font-weight: 700;
  padding: 8px 16px;
}

.site-navigation-dropdown-item:nth-child(1)::after {
  content: "";
  position: absolute;
  left: 16px;
  top: 45px;
  width: 130px;
  border-bottom: 1px solid #b9b9b9;
  }

.site-navigation-dropdown-item:last-child {
  padding-bottom: 0;
}

.site-navigation-item:hover .site-navigation-dropdown-list {
  display: block;
}

.current-dropdown-link {
  background-color: #FF7799;
  color: #FCFCFC;
}

.site-navigation-link-phone {
  margin-right: 18px;
  font-weight: 700; 
  text-decoration: none;
  color: #2c3e50;
  align-self: center;
}

.wrapper-navigation-user {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navigation-user {
  max-width: 235px;
  font-size: 14px;
}

.navigation-user .site-navigation-item { 
  margin-right: 16px;
}

.navigation-user .site-navigation-item:last-child {
  margin-right: 0;
}

.site-navigation-search-button {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: rgba(252, 252, 252, 0.4);
  background-image: url("../icons/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
}

.site-navigation-link-login,
.site-navigation-link-basket {
  padding: 8px 16px;
  background-color: rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  color: #2D3440;
  text-decoration: none;
}

.site-navigation-link-login {
  background-image: url("../icons/icon-login.svg");
  background-repeat: no-repeat;
  background-position: left 10px center;
  padding-left: 32px;
}

.site-navigation-link-basket {
  background-image: url("../icons/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: left 10px center;
  padding-left: 32px;
}

.site-navigation-search-form {
  display: none;
}

.shopping-gift-subject,
.catalog-goods-subject{
  margin: 0 auto;
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.shopping-gift-subject {
  width: 445px;
}

.catalog-goods-subject{
  margin-bottom: 107px;
  width: 527px;
}

.shopping-gift {
  margin-bottom: 80px;
}

.shopping-gift-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
  list-style-type: none;
}

.shopping-gift-item {
  width: 570px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #FF7799;
}

.shopping-gift-title {
  margin: 0;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.shopping-gift-description {
  margin: 0;
  max-width: 325px;
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 22px;
}

.shop-raspberry-gift{
  background-image: url("../img/raspberry-waffle-cone.png");
  background-repeat: no-repeat;
  background-position: right 15px top 28px;
}

.shop-raspberry-gift .shopping-gift-description {
  width: 322px;
}

.shop-marshmallow-gift{
  background-image: url("../img/marshmallow-waffle-cone.png");
  background-repeat: no-repeat;
  background-position: right 25px;
}

.shop-marshmallow-gift .shopping-gift-description {
  width: 295px;
}

.infoblock-shop {
  margin-bottom: 80px;
  border-radius: 16px;
  padding: 24px;
  background-color: #FCFCFC;
  background-image: url("../img/waffle-bg.jpg");
}

.infoblock-shop-wrapper {
  padding: 56px 40px;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.infoblock-shop-subject {
  margin: 0;
  padding-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.infoblock-shop-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
}

.infoblock-shop-item {
  width: 442px;
  margin-left: 64px;
  margin-bottom: 40px;
  padding-right: 30px;
  font-size: 16px;
  line-height: 22px;
  position: relative;
}

.infoblock-shop-item:last-child,
.infoblock-shop-item:nth-last-child(2) {
  margin-bottom: 0;
}

.infoblock-shop-item:nth-child(even) {
  padding-right: 0;
}

.infoblock-shop-description {
  margin: 0;
  padding: 0;
}

.infoblock-shop-item .infoblock-making-factory::before{
  content: url("../icons/icon-ice-cream.svg");
  position: absolute;
  top: 0;
  left: -64px;
}

.infoblock-shop-item .infoblock-making-quality::before{
  content: url("../icons/icon-leaf.svg");
  position: absolute;
  top: 0;
  left: -64px;
}

.infoblock-shop-item .infoblock-making-milk::before{
  content: url("../icons/icon-cow.svg");
  position: absolute;
  top: 0;
  left: -64px;
}

.infoblock-shop-item .infoblock-making-shipping::before{
  content: url("../icons/icon-degrees.svg");
  position: absolute;
  top: 0;
  left: -64px;
}

.blog-publication {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
}

.blog-publication-post {
  width: 570px;
  padding: 32px;
  background-color: #FCFCFC;
  background-image: url(../img/fruit-sherbet.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  box-sizing: border-box;
}

.blog-publication-subtitle,
.blog-publication-description {
  color: #565C66;
}

.blog-publication-subtitle {
  width: 570px;
  padding-bottom: 12px;
  display: block;
}

.blog-publication-title {
  margin: 0;
  width: 305px;
  font-size: 24px;
  line-height: 30px;
}

.blog-publication-link {
  text-decoration: none;
  color: #2D3440;
}

.blog-publication-subscribe {
  width: 558px;
  padding: 24px;
  background-color: #FCFCFC;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  
}

.blog-publication-subscribe-wrapper {
  border-radius: 16px;
  background-image: url("../img/blog-subscribe-bg.png");
  background-repeat: no-repeat;
  padding: 6px;
}

.blog-publication-description {
  width: 506px;
  margin:0;
  padding-bottom: 42px;
  color: #565C66;
}

.blog-publication-field {
  width: 315px;
  margin-right: 20px;
}

.home-delivery {
  display: flex;
  margin-bottom: 80px;
  padding-left: 100px;
  background-color: #FCFCFC;
  background-image: url(../img/delivery-ice-cream.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  justify-content: space-between;
}

.home-delivery-column-info {
  margin: auto 0;
}

.home-delivery-column-form {
  padding: 64px;
  padding-left: 0;
}

.home-delivery-form-wrapper {
  width: 500px;
  padding: 40px;
  background-color: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  box-sizing: border-box;
}

.home-delivery-subject {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: left;
}

.home-delivery-description {
  width: 371px;
  margin: 0;
}

.home-delivery-description,
.home-delivery-form-description {
  color: #565C66;
}

.home-delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px;
}

.field-group-form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.home-delivery-form-description {
  width: 380px;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.home-delivery-form-address {
  grid-column: 1 / -1;
}

.contact-shop {
  width: 1170px;
  padding: 64px;
  background-color: #FCFCFC;
  background-image: url(../img/ice-cream-cone.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  box-sizing: border-box;
}

.contact-shop-block {
  width: 343px;
  padding: 40px;
  background-color: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  box-sizing: border-box;
}

.contact-shop-block-location,
.contact-shop-block-phone {
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
}

.contact-shop-block-description {
  margin: 0;
  padding-bottom: 12px;
  color: #565C66;
}

.contact-shop-block-location {
  padding-bottom: 24px;
}

.contact-shop-block-officetime {
  display: block;
  padding-bottom: 24px;
  font-size: 14px;
}

.footer-paperwork {
  margin-right: 200px;
}

.footer-paperwork-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 8px 24px;
  list-style-type: none;
}

.footer-paperwork-item {
  position: relative;
}

.footer-paperwork-link {
  font-size: 14px;
  text-decoration: none;
  color: #2D3440;
}

.footer-paperwork-item:nth-child(1)::before {
  content: "";
  display: block;
  background-image: url("../icons/icon-heart.svg");
  background-repeat: no-repeat;
  top: 4px;
  left: -23px;
  position: absolute;
  width: 16px;
  height: 16px;
}

.footer-copyright-text,
.footer-copyright-link {
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}


/* Page Catalog */

.breadcrumbs-list {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  margin-right: 28px;
  position: relative;
}

.breadcrumbs-item:not(:last-of-type)::after {
  content: "";
  background-image: url("../icons/icon-double-arrow.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 7px;
  height: 6px;
  right: -18px;
  top: 10px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  font-weight: 700;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs-link-current {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.inner-header-subject {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.inner-filter-product {
  margin-bottom: 98px;
}

.filter-product-form {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 20px;
}

.filter-row-wrapper {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.inner-filter-box {
  padding: 10px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
}

.filter-slider-price {
  min-width: 200px;
}

.inner-filter-product-sorting,
.inner-filter-product-price,
.inner-filter-product-price, 
.inner-filter-product-fatness,
.inner-filter-product-filling {
  margin: 0;
  margin-right: 24px;
  padding: 0;
  border: none;
  display: flex;
  flex-wrap: wrap;
}

.filter-product-popular {
  padding: 10px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
  border: none;
  font-size: 14px;
  line-height: 20px;
}

.inner-filter-name {
  margin-bottom: 8px;
  margin-left: 16px;
}

.inner-filter-label {
  margin-right: 16px;
}

.inner-filter-label:last-child{
  margin-right:0;
}

.inner-catalog-goods {
  margin-bottom: 16px;
}

.catalog-goods {
  margin-bottom: 80px;
}

.catalog-goods-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;
  list-style-type: none;
}

.catalog-goods-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 270px;
  padding: 0 40px 24px 40px;
  padding-top: 0;
  background-color: #FCFCFC;
  border-radius: 8px;
  box-sizing: border-box;
}

.catalog-goods-title {
  margin: 0;
  padding-bottom: 8px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.catalog-goods-img {
  margin-top: -50px;
  margin-bottom: 16px;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 12px rgba(45, 52, 64, 0.1));
  order: -1;
  align-self: center;
}

.catalog-goods-description {
  margin: 0;
  padding-bottom: 16px;
  width: 195px;
  text-align: center;
}

.catalog-goods-cost {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.catalog-goods-price {
  max-width: 153px;
}

.inner-pagination {
  padding: 40px 0;
  padding-bottom: 80px;
  display: flex;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}


.pagination-list {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.pagination-item {
  margin-right: 2px;
}

.pagination-item:first-child {
  margin-right: 22px;
}

.pagination-item:last-child {
  margin-left: 16px;
  margin-right: 0px;
}

.pagination-link {
  padding: 2px 8px;
  text-decoration: none;
  line-height: 20px;
  color: #2D3440;
  border: 1px solid transparent;
  border-radius: 50px;
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
}

.pagination-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440; 
}

.pagination-link:active {
  outline: 1px solid #2D3440;
}

.pagination-current {
  background-color: #FCFCFC;
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: transparent;
}

.footer-socialmedia {
  margin-right: auto;
}

.footer-socialmedia-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 116px;
  margin: 0;
  margin-left: 4px;
  padding: 0;
  list-style-type: none;
}

.socialmedia-link,
.footer-socialmedia-link {
  display: inline-flex;
  outline: 2px solid rgba(252, 252, 252, 0.2);
  border-radius: 50%;
}

.socialmedia-link:hover,
.footer-socialmedia-link:hover {
  background-color: #2D3440;
  border-radius: 50%;
}

.socialmedia-link:focus-visible,
.footer-socialmedia-link:focus-visible {
  outline: 2px solid #2D3440;
  background-color: #2D3440;
}

.socialmedia-link:active,
.footer-socialmedia-link:active {
  outline: 2px solid #2D3440;
}
